h2, h3 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 4em;
    font-family: 'Raleway', sans-serif;
}

hr {
    border-bottom: 1px solid #BCBBBB;
    margin-bottom: 2em;
}

a {
    text-decoration: none;
    color: #2d3c49;
    font-family: 'Raleway', sans-serif;
}

.logo svg {
    width: 7.5em;
}

.logo {
    margin-top: 1.5%;
}

.col-md-4 img {
    border-radius: 3%;
}
